/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

body {
    overflow-x: hidden;
    background: -o-linear-gradient(135deg, #461607, #44081f, #0b3342, #0b4235);
    background: linear-gradient(-45deg, #461607, #44081f, #0b3342, #0b4235);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

.full-width-content {
  overflow-x: hidden;
  width: 100vw;
  max-width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-top: unset;
}

* {
  font-family: 'alefregular';
  color: white;
}

h1, h2, h3, h4, h5,
h1 *, h2 *, h3 *, h4 *, h5 * {  
  font-family: 'alefbold';
}

h1 {
  font-family: 'alefbold';
  color: white;
  margin-top: -10px;
  margin-bottom: 0px;
  font-size: 55px;
}

h2 {
  color: white;
  margin-bottom: 0px;
  font-size: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h3 {
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  margin-bottom: 15px;
}

@-webkit-keyframes whiteLineAnimation {
  0% {
    -webkit-box-flex: 0;
            flex: 0;
  }
  100% {
    -webkit-box-flex: 1;
            flex: 1;
  }
}

@keyframes whiteLineAnimation {
  0% {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
  100% {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

span.white-line {
    border-bottom: 2px solid white;
    margin-left: 15px;
    -webkit-animation: whiteLineAnimation;
            animation: whiteLineAnimation;
    -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-timing-function: cubic-bezier(0.55, 0, 1, 0.45);
            animation-timing-function: cubic-bezier(0.55, 0, 1, 0.45);
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
}

h2 span.white-line {
  margin-bottom: 26px;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
}
h3 span.white-line {
  margin-bottom: 14px;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
}

p {
  color: white;
  font-size: 23px;
}

ul li > span.date {
  position: absolute;
  top: -6px;
  right: 102%;
  white-space: nowrap;
  padding: 5px 5px;
}

.logo-container {
  max-width: 170px;
}

.logo-container img {
  width: 100%;
}

.title-container {
    max-width: calc(50% + 275px);
}

.profile-image-container {
  max-width: 250px;
}

.profile-image-container img {
  width: 100%;
  position: absolute;
  z-index: 9;
}

@-webkit-keyframes slideUpBanner {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50vh);
            transform: translateY(50vh);
  }
  25% {
    opacity: 1;
    -webkit-transform: translateY(50vh);
            transform: translateY(50vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
}

@keyframes slideUpBanner {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50vh);
            transform: translateY(50vh);
  }
  25% {
    opacity: 1;
    -webkit-transform: translateY(50vh);
            transform: translateY(50vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
}

body > .container > .row.banner-content {
  -webkit-animation: slideUpBanner;
          animation: slideUpBanner;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInSlide {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes fadeInSlide {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

:nth-child(1) { --nth-child: 1s }
:nth-child(2) { --nth-child: 2s }
:nth-child(3) { --nth-child: 3s }
:nth-child(4) { --nth-child: 4s }
:nth-child(5) { --nth-child: 5s }
:nth-child(6) { --nth-child: 6s }
:nth-child(7) { --nth-child: 7s }
:nth-child(8) { --nth-child: 8s }
:nth-child(9) { --nth-child: 9s }
:nth-child(10) { --nth-child: 10s }
:nth-child(11) { --nth-child: 11s }
:nth-child(12) { --nth-child: 12s }
:nth-child(13) { --nth-child: 13s }
:nth-child(14) { --nth-child: 14s }
:nth-child(15) { --nth-child: 15s }
:nth-child(16) { --nth-child: 16s }
:nth-child(17) { --nth-child: 17s }
:nth-child(18) { --nth-child: 18s }
:nth-child(19) { --nth-child: 19s }
:nth-child(20) { --nth-child: 20s }
:nth-child(21) { --nth-child: 21s }
:nth-child(22) { --nth-child: 22s }
:nth-child(23) { --nth-child: 23s }
:nth-child(24) { --nth-child: 24s }
:nth-child(25) { --nth-child: 25s }
:nth-child(26) { --nth-child: 26s }
:nth-child(27) { --nth-child: 27s }
:nth-child(28) { --nth-child: 28s }
:nth-child(29) { --nth-child: 29s }
:nth-child(30) { --nth-child: 30s }
:nth-child(31) { --nth-child: 31s }
:nth-child(32) { --nth-child: 32s }
:nth-child(33) { --nth-child: 33s }
:nth-child(34) { --nth-child: 34s }
:nth-child(35) { --nth-child: 35s }
:nth-child(36) { --nth-child: 36s }
:nth-child(37) { --nth-child: 37s }
:nth-child(38) { --nth-child: 38s }
:nth-child(39) { --nth-child: 39s }

.title-container h1 span {
  opacity: 0;
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-animation: fadeInSlide;
          animation: fadeInSlide;
  -webkit-animation-delay: calc(0.25s + (var(--nth-child)*0.04));
          animation-delay: calc(0.25s + (var(--nth-child)*0.04));
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.title-container h2 span:not(.white-line) {
  opacity: 0;
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-animation: fadeInSlide;
          animation: fadeInSlide;
  -webkit-animation-delay: calc(0.25s + (var(--nth-child)*0.05));
          animation-delay: calc(0.25s + (var(--nth-child)*0.05));
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

body > .container > .row.landing-content > .col {
  opacity: 0;
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-animation: fadeInSlide;
          animation: fadeInSlide;
  -webkit-animation-delay: calc(0.8s + (var(--nth-child)*0.5));
          animation-delay: calc(0.8s + (var(--nth-child)*0.5));
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.portfolio-title,
.swiper.mainSwiper,
.contact-content {
  opacity: 0;
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-animation: fadeInSlide;
          animation: fadeInSlide;
  -webkit-animation-delay: calc(1.8s);
          animation-delay: calc(1.8s);
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.swiper.tilesSwiperRight .swiper-slide {
  opacity: 0;
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-animation: fadeInSlide;
          animation: fadeInSlide;
  -webkit-animation-delay: calc(1.8s + (var(--nth-child)*0.1));
          animation-delay: calc(1.8s + (var(--nth-child)*0.1));
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;

}

.small-text {
    font-size: 19px;
}

ul .small-text {
    font-size: 16px;
}

span.emoji {
    position: absolute;
    font-size: 40px;
    left: 0px;
    line-height: 40px;
    width: 55px;
    text-align: center;
    padding: 5px 0px;
}

a {
    color: white;
  text-decoration: none;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

a:hover {
    color: white;
    opacity: 0.75;
}

h3 + h4 {
    float: right;
    line-height: 36px;
    margin-bottom: 0px;
}

img.tech-logo {
    max-height: 30px;
}

.projects-container img {
  width: 100%;
}

.projects-container p {
    font-size: 16px;
    margin-bottom: 5px;
}

.projects-container .project-details {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.projects-container .swiper-button-prev {
    left: -40px;
    color: white;
}

.projects-container {
    position: relative;
    overflow: visible;
}

.projects-container .swiper-button-next {
    right: -40px;
    color: white;
}

.swiper-pagination-bullet {
  background: white;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-pagination {
    bottom: unset !important;
    top: 100%;
    margin-top: -25px;
}

.swiper.screenshots-swiper {
    padding-bottom: 25px;
    width: 100%;
    overflow: hidden;
}

:root {
  --tilesWidth: 0px;
  --tilesRightCols: 0;
  --tilesSpaceBetween: 0px;
}

.swiper.tilesSwiperRight,
.swiper.tilesSwiperLeft {
    position: absolute;
    height: 100%;
    max-height: calc((var(--tilesWidth) + var(--tilesSpaceBetween)) * 3);
    top: 0px;
}

.swiper.tilesSwiperRight {
    left: calc(100% + 8px);
    width: calc((var(--tilesWidth) + var(--tilesSpaceBetween)) * var(--tilesRightCols));
}

.swiper.tilesSwiperLeft {
    right: calc(100% + 8px);
    width: calc((var(--tilesWidth) + var(--tilesSpaceBetween)) * var(--tilesLeftCols));
}

.swiper.tilesSwiperLeft .swiper-slide,
.swiper.tilesSwiperRight .swiper-slide {
  color: black;
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: var(--tilesWidth) !important;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  }

.tilesSwiperLeft .swiper-wrapper,
.tilesSwiperRight .swiper-wrapper {
    -ms-flex-line-pack: baseline;
        align-content: baseline;
}

.projects-container .swiper-button-next, .projects-container .swiper-button-prev {
    top: calc(var(--tilesWidth) / 2);
    margin-top: 0px;
}

.swiper-slide.blank-slide {
    visibility: hidden;
}

@-webkit-keyframes pressKey {
  0% {
    border-top: 1px solid white;
    -webkit-box-shadow: 0px 3px 0px 2px white;
            box-shadow: 0px 3px 0px 2px white;
    margin-top: 0px;
  }
  50% {
    border-top: 0px solid white;
    -webkit-box-shadow: 0px 1px 0px 2px white;
            box-shadow: 0px 1px 0px 2px white;
    margin-top: 3px;
  }
  100% {
    border-top: 0px solid white;
    -webkit-box-shadow: 0px 1px 0px 2px white;
            box-shadow: 0px 1px 0px 2px white;
    margin-top: 3px;
  }
}

@keyframes pressKey {
  0% {
    border-top: 1px solid white;
    -webkit-box-shadow: 0px 3px 0px 2px white;
            box-shadow: 0px 3px 0px 2px white;
    margin-top: 0px;
  }
  50% {
    border-top: 0px solid white;
    -webkit-box-shadow: 0px 1px 0px 2px white;
            box-shadow: 0px 1px 0px 2px white;
    margin-top: 3px;
  }
  100% {
    border-top: 0px solid white;
    -webkit-box-shadow: 0px 1px 0px 2px white;
            box-shadow: 0px 1px 0px 2px white;
    margin-top: 3px;
  }
}

h3.portfolio-title {
    margin-bottom: 0px;
    height: 55px;
    line-height: 55px;
}

.keyboard-key {
  outline: #cccccc;
  font-family: sans-serif;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-bottom: 3px;
  width: 48px;
  height: 45px;
  border-radius: 5px;
  color: white;
  border-top: 1px solid white;
  -webkit-box-shadow: 0px 3px 0px 2px white;
          box-shadow: 0px 3px 0px 2px white;
  margin-top: 0px;
  float: right;
  margin-left: 15px;
  -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

.keyboard-key.pressed {
  -webkit-animation: pressKey;
          animation: pressKey;
  -webkit-animation-duration: 150ms;
          animation-duration: 150ms;
}

.screenshots-swiper .swiper-slide {
  pointer-events: none;
}

.project-logo-col {
    position: relative;
}

.project-logo-col .website-symbol {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 50px;
  z-index: 9;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}


.project-logo-col:hover .website-symbol {
  opacity: 1;
}

.project-details p a {
  text-decoration: underline;
}

ul.tech-grid {
    list-style: none;
    padding: 0px;
    margin: 0px;
    padding-top: 10px;
    padding-right: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
}

ul.tech-grid img.tech-logo {
    width: auto;
    margin-left: 5px;
    margin-bottom: 5px;
}

ul.tech-grid li {
    display: inline-block;
    float: right;
}

.project-details a[href="javascript:void(0);"] {
  pointer-events: none;
}

.project-logo-col a[href="javascript:void(0);"] {
  cursor: not-allowed;
  opacity: 1 !important;
}
.project-logo-col a[href="javascript:void(0);"] + .website-symbol {
  display: none;
}

span.tech-logo-container {
    display: inline-block;
}

@media only screen and (max-width: 1399px) {

  .swiper-slide > .row {
      position: relative;
  }
  .tech-grid-container {
    position: absolute;
    right: 0px;
    top: 100%;
    padding-top: 10px;
    z-index: 999;
  }

}

@media only screen and (max-width: 1199px) {
  .container {
    max-width: unset;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
      font-size: 30px;
  }
  .projects-container p {
        font-size: 14px;
    }

    .project-details h4 {
        font-size: 18px;
        margin-bottom: 5px;
    }

}


@media only screen and (max-width: 750px) {
  .logo-container:empty {
    display: none;
  }
  
  .title-container {
    width: 100%;
    max-width: unset;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    padding: 0px 35px;
  }
  .logo-container img {
      margin-bottom: 3rem;
  }
  .swiper.tilesSwiperLeft {
    display: none;
  }
  .swiper.tilesSwiperRight {
    position: relative;
    width: 100%;
    height: calc(var(--tilesWidth) - (var(--tilesSpaceBetween) * 2)) !important;
    left: unset;
    top: unset;
    margin-top: 25px;
  }
  .swiper.tilesSwiperLeft .swiper-slide, .swiper.tilesSwiperRight .swiper-slide {
    height: calc(var(--tilesWidth) - (var(--tilesSpaceBetween) * 2)) !important;
  }
  .swiper.tilesSwiperRight .swiper-wrapper {
    max-height: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 650px) {

  .swiper-slide > .row {
      position: relative;
  }
  .tech-grid-container {
    position: absolute;
    right: 0px;
    top: 100%;
    padding-top: 10px;
    z-index: 999;
  }
  h3.portfolio-title {
    margin-bottom: 10px;
    padding: 0px 27px;

  }
  .full-width-content .title-container {
    padding: 0px 8px;
  }
  img.project-logo {
      width: calc(var(--tilesWidth) - (var(--tilesSpaceBetween) * 2)) !important;
  }

  .project-logo-col {
      width: auto;
  }
  .projects-container p {
        font-size: 12px;
    }

    .project-details h4 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    ul.tech-grid {
        padding-top: 4px;
    }

    .projects-container .project-details {
        position: relative;
        padding-left: 0px;
    }
}

@media only screen and (max-width: 450px) {
  h1 {
      font-size: 28px;
  }

  h2 {
      font-size: 25px;
  }
  h3 {
      font-size: 25px;
  }
  p {
    font-size: 16px;
  }
  h3 + h4 {
    font-size: 18px;
  }
}


@media only screen and (max-width: 400px) {
  .swiper.tilesSwiperRight img.project-logo {
      width: calc((var(--tilesWidth) / 2) - (var(--tilesSpaceBetween) * 2)) !important;
  }
  .swiper.tilesSwiperRight .swiper-slide {
      height: calc((var(--tilesWidth) / 2) - (var(--tilesSpaceBetween) * 2)) !important;
  }
}

@media only screen and (max-width: 375px) {
  h3 + h4 {
    float: left;
  }
  h3 + h4.px-3 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  h3 + h4.d-inline {
    display: block !important;
    width: 100%;
  }
}